.containerFormData{
    width: 100%;
    min-width: 800px;
    height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(236, 240, 241);
}
.Formulario{
    width: 30%;
    min-height: 50%;
    background-color:#fff;
    border: 3px solid black;
    box-shadow: 10px 10px 17px #999;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.Formulario h3{
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.containerBannerForm{
    width: 30%;
    height: 90vh;
    align-items: center;
    display: flex;
}
.banner{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 17px #999;
}
.titleBanner{
    width: 100%;
    height: fit-content;
    min-height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: var(--ColorMorado);
}
.promociones{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.promociones p{
    text-align: justify;
    padding: 0 .2rem;
}
.promociones span{
    text-align: center;
    font-size: 1.2rem;
}
.promociones h4{
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.promocion1{
    width: 50%;
    height: 100%;
    border-right: 3px solid black;
}
.promocion2{
    width: 50%;
    height: 100%; 
}
.containerFormData-info{
    width: 100%;
    height: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.containerFormData-info label{
    margin-top: 1rem;
}
.containerFormData-btn{
    width: 100%;
    height: 25%;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.containerFormData-btn span{
    text-decoration: underline;
    cursor: pointer;
}
.containerFormData-btn span:hover{
    color: #999;
}
.containerFormData-btn button{
    cursor: pointer;
    min-width: 50%;
    font-size: 1rem;
    padding: .4rem .1rem;
    color: #fff;
    background-color: black;
    border: 3px solid #999;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.containerFormData-btn button:hover{
    border: 3px solid #fff;
}
.containerFormData-info input{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    min-width: 50%;
    font-weight: 700;
}
.promocionContent{
    padding-left: 2px;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boton1{
    cursor: pointer;
    min-width: 80%;
    font-size: .8rem;
    padding: .4rem .1rem;
    color: #fff;
    background-color: #1cbcf8;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: 700;
}
.boton2{
    cursor: pointer;
    min-width: 90%;
    font-size: .8rem;
    padding: .4rem .1rem;
    color: #fff;
    background-color: black;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: 700;
}
.boton1:hover,.boton2:hover{
    border: 3px solid #999;
}


