.containerFormInfo{
    width: 100%;
    min-width: 800px;
    min-height: 90vh;
    background-color: rgb(236, 240, 241);
    align-items: center;
    display: flex;
    justify-content: center;
}
.FormDataInfo{
    width: 70%;
    height:10rem;
    min-height: 8rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.FormDataInfo-Header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    letter-spacing: .1rem;
    background-color: var(--ColorMorado);
}
.FormDataInfo-Content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}
.FormDataInfo-TittleActiveImg{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
}
.FormDataInfo-TittleDescription{
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.FormDataInfo-ActiveImg{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
}
.FormDataInfo-Description{
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}