.navbar{
   width: 100%;
   min-width: 800px;
   height: 10vh;
   min-height: 60px;
   position: sticky;
   background-color: var(--ColorMorado); 
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   z-index: 99;
   font-size: 1rem;
   border-bottom: 1.5px solid black;
}
.navbarContainer{
    width: 80%;
    height: auto;
    align-items: center;
    display:flex;
    justify-content:space-around;
    text-align:center;
}
.navbarContainer-btn{
    width: 20%;
    height:10vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sign-btn{
    width: auto;
    height: 1.4rem;
    align-items: center;
    display: flex;
    justify-content: center; 
    cursor:pointer;
    border-radius: 5px;
    background-color: #fff;
}
.sign-btn:hover{
    background-color: #ccc;
    transform: scale(1.1);
}
.navbar-links{
    width:100%;
    cursor:pointer;
    color: #F9F9F9;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-decoration: none; 
}

.navbar-links:hover{
    color: black;
}


