.navbar{
   width: 100%;
   min-width: 800px;
   height: 10vh;
   min-height: 60px;
   position: sticky;
   background-color: var(--ColorMorado); 
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   z-index: 99;
   font-size: 1rem;
   border-bottom: 1.5px solid black;
}
.navbarContainer{
    width: 80%;
    height: auto;
    align-items: center;
    display:flex;
    justify-content:space-around;
    text-align:center;
}
.navbarContainer-btn{
    width: 20%;
    height:10vh;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
}
.sign-btn-Login{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center; 
    cursor: pointer;
}
.sign-btn-Login:hover{    
    transform: scale(1.1);
}
.sign-btn{
    width: 40%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center; 
    cursor: pointer;
}

.navbar-links{
    width:100%;
    cursor:pointer;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-decoration: none; 
}
.navbar-links:hover{
    color: #F9F9F9;
}

.btnLogin{
    background-color: black;
    color: #F9F9F9;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .4rem .8rem;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.btnLogin:hover{
    background-color:dimgrey;
    transform: scale(1.1);
}


