  .tab-panel__header {
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    position: relative;
    max-width: 20rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .tab:nth-child(n+2) {
      margin-left: -8px;
  }
  
  .tab:hover {
    color: black;
    background-color: #CCC;
  }
  
  .tab--selected {
    background-color: gray;
    color:black;
    font-weight: bold;
    padding:.7rem .3rem;
    z-index: 1;
  }