.homeContainer{
    width: 100%;
    min-width: 800px;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.profileBox{
    margin-top: 2rem;
    width: 90%;
    height: 2rem;
    background-color: var(--ColorMorado);
    color: #fff;
    border: 2px solid black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    justify-content: left;
    border-radius: 4px;
    letter-spacing: .1rem;
}
.separator{
    margin-top: 1.5rem;
    width: 90%;
    height: 2rem;
    background-color: var(--ColorMorado);
    color: #fff;
    border: 2px solid black;
    border-radius: 4px;
}
.homeContainer-profile{
    margin-top: 1.5rem;
    width: 90%;
    height: fit-content;
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.home-profile{
    width: 9rem;
    height: 18rem;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    
}
.home-card{
    width: 100%;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home-card-btn{
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid black;
    background-color: var(--ColorMorado);
}
.home-card-img{
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.home-card-name{
    width: 100%;
    height: 10%;
    font-size: .8rem;
    font-weight:bold;
    border-top: 2px solid black;
    background-color: var(--ColorMorado);
    color:black;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: .05rem;
}
.home-card-description{
    width: 100%;
    height: 40%;
    font-size: .8rem;
    border-top: 2px solid black;
    background-color: var(--ColorMorado);
    color:black;
    align-items:center;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.card-button{
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    padding: .2rem .6rem .2rem .6rem;
    text-decoration: none;
    cursor: pointer;
}
.azul{
    background-color: #1cbcf8;
}
.negro{
    background-color: black;
}