.homeContainer{
    width: 100%;
    min-width: 800px;
    min-height: fit-content;
    background-color:rgb(236, 240, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.profileBox{
    margin-top: 2rem;
    width: 90%;
    height: 2rem;
    background-color: #D2A2CC;
    color: black;
    border: 1px solid black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    justify-content: left;
    border-radius: 4px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.separator{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    height: 2rem;
    background-color: #D2A2CC;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}
.homeContainer-profile{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.home-profile{
    width: 13%;
    min-height: fit-content;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.home-profile:hover{
    transform: scale(1.05);
}
.home-card{
    width: 100%;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home-card-btn{
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid black;
    background-color: var(--ColorMorado);
}
.home-card-img{
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.home-card-name{
    width: 100%;
    height: 10%;
    font-size: 1rem;
    font-weight:bold;
    border-top: 2px solid black;
    color: #fff;
    background-color: var(--ColorMorado);
    color:black;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: .05rem;
}
.home-card-description{
    width: 100%;
    height: 40%;
    font-size: .8rem;
    letter-spacing: .03rem;
    border-top: 2px solid black;
    background-color: #d8acfc;
    color:#191919;
    align-items:center;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.home-card-img >img{
    min-width:100%;
    min-height: 100%;
}
.card-button{
    font-size: .8rem;
    color: #fff;
    font-weight: 600;
    width: 50%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.azul{
    background-color: #1cbcf8;
}
.negro{
    background-color: black;
}
.card-button:hover{
    transform: scale(1.05);
}