.questionsContainer {
  background-color:rgb(236, 240, 241);
  width: 100%;
  min-width: 800px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionsTitle {
  width: 100%;
  height: 20vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.questionsTitleH1 {
  color: black;
  font-size: 3rem;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}
.answersContainer {
  padding-top: 2rem;
  width: 100%;
  min-height: 70vh;
  font-size: 1rem;
  padding-bottom: 2rem;
} 

.inQ {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabQ p{
  font-weight: 600;
  font-family:sans-serif;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

.tabsQ {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.tabQ {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-labelQ {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}
.tab-labelQ:hover {
  background: #1a252f;
}
.tab-labelQ::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-contentQ {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-closeQ {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-closeQ:hover {
  background: #1a252f;
}
.inQ:checked + .tab-labelQ {
  background: #1a252f;
}
.inQ:checked + .tab-labelQ::after {
  transform: rotate(90deg);
}
.inQ:checked ~ .tab-contentQ {
  max-height: 100vh;
  padding: 1em;
}